section.get_in
    .container
      h2 Напиши мне
      form(action='send')
        input(type='text' placeholder='Ваше имя')
        input(type='text' placeholder='Email')
        textarea(name='' id='' cols='25' rows='10' placeholder='Сообщение')
      button отправить
      p.center Подпишись:
      .social.center
        img(src='./assets/images/icons/vk.png' alt='')
        img(src='./assets/images/icons/instagram.png' alt='')
        img(src='./assets/images/icons/blog.png' alt='')
        img(src='./assets/images/icons/watsapp.png' alt='')
        img(src='./assets/images/icons/telegram.png' alt='')