section.get_in#get_in
    .container
      h2.get_in__subtitle Напиши мне
      .get_in__contact-field
        a.get_in__link(href="https://vk.com/oksana_ph")
          img.get_in__img(src=icons_path + "vk.png", alt="VK")
        a.get_in__link(href="https://www.instagram.com/oksanaleyn/")
          img.get_in__img(src=icons_path + "instagram.png", alt="Instagram")
        a.get_in__link(href="https://teleg.run/Oksana_Leyn")
          img.get_in__img(src=icons_path + "telegram.png", alt="Telegram")
        a.get_in__link(href="https://api.whatsapp.com/send?phone=79515224657")
          img.get_in__img(src=icons_path + "watsapp.png", alt="WatsApp")
        