section.get_in#get_in
    .container
      h2 Напиши мне
      .contact-field
        a(href="https://vk.com/oksana_ph")
          img(src=icons_path + "vk.png", alt="VK")
        a(href="https://www.instagram.com/oksanaleyn/")
          img(src=icons_path + "instagram.png", alt="Instagram")
        a(href="https://teleg.run/Oksana_Leyn")
          img(src=icons_path + "telegram.png", alt="Telegram")
        a(href="https://api.whatsapp.com/send?phone=79515224657")
          img(src=icons_path + "watsapp.png", alt="WatsApp")
        