header
  .container
    .navbar
      .links
        a(href='#') Главная
        a(href='#') Галерея
        a(href='#') Контакты
      .logo_main
        img(src='./assets/images/icons/logo.png' alt='')
      .social
        img(src='./assets/images/icons/vk.png' alt='')
        img(src='./assets/images/icons/instagram.png' alt='')
        img(src='./assets/images/icons/blog.png' alt='')
        img(src='./assets/images/icons/watsapp.png' alt='')
        img(src='./assets/images/icons/telegram.png' alt='')
    h1 Оксана Лейн
    h2.mine-subtitle Фотограф в Ростове-на-Дону
    button.discover_button Познакомиться
