

section.recent
    .container
      h2.recent_title Примеры работ
      .recent-img
        img.item1(src='./assets/images/img/recent_works/smile770.jpg' alt='')
        img.item2(src='./assets/images/img/recent_works/three.jpg' alt='')
        img.item3(src='./assets/images/img/recent_works/two.jpg' alt='')
        img.item4(src='./assets/images/img/recent_works/big.jpg' alt='')