mixin slider(num, name_file)
  div(class="slider item" + num)
    - var arr = ["", "_1", "_2", "_3", "_4", "_5"];
    each n in arr
      img.slide(src=recent_path + name_file + n + '.jpg' alt='')

section.recent#recent
    .container
      h2.recent_title Примеры работ
      .recent-img
        + slider(1, 'middle')
        + slider(2, 'little_one')
        + slider(3, 'little_two')
        + slider(4, 'big')
        
        
        
        
        