.catalogs
  min-height: 1440px 
  padding-top: 120px
  .catalogs__catalog
    height: 390px 
    display: flex
    justify-content: space-between
    opacity: 0
    transition: all 1s
    animation-duration: 1s
    .catalogs__img
      width: 585px
    .catalogs__description-block
      display: block 
      padding: 40px 60px 
      .catalogs__subtitile
        color: #2c2a28 
        font-family: $art_font
        font-size: 36px 
        font-weight: 700 
        line-height: 48px
        display: block
        margin-bottom: 40px 
      .catalogs__text
        margin-bottom: 60px
      .catalogs__button
        width: 200px
        text-align: center