.get_in
  padding: 100px 0 50px 0
  min-height: 400px 
  text-align: center 
  .get_in__subtitle
    color: #2c2a28 
    font-family: $art_font
    font-size: 36px 
    font-weight: 700 
    margin-bottom: 50px 
  .get_in__contact-field
    display: flex
    justify-content: center
    .get_in__link
    .get_in__img
      cursor: pointer
      transition: all 0.3s
      width: 85px
      height: 85px
      &:hover
        transition: all 0.3s
        width: 92px
        height: 92px