extends ./includes/layouts/base

block vars
  include ./includes/inserts/_var.pug

block meta
  include ./includes/inserts/_meta.pug

block links
  include ./includes/inserts/_links.pug

block content    
  include ./includes/_header.pug
  a.scrollTop
  main
    include ./includes/_recent.pug
    include ./includes/_catalogs.pug
    include ./includes/_get_in.pug
  include ./includes/inserts/_scripts.pug
  
  