* 
  padding: 0 
  margin: 0 
  box-sizing: border-box 
  outline: none
html 
  font-family: 'Roboto', sans-serif 
  background-color: #ffffff

@import "./blocks/_variables"
@import "./blocks/_container"
@import "./blocks/_button"
@import "./blocks/_header"
@import "./blocks/_social"
@import "./blocks/_recent"
@import "./blocks/_catalogs"
@import "./blocks/_get_in"
@import "./blocks/_slider"
@import "./blocks/fade_in_animation"
@import "./blocks/button_up"
